html, body {
    margin: 0;
    padding: 0;
    background-color : #20B2AA;
}

canvas {
    display: block;
}

.header{
    display : flex;
    justify-content : center;

    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;
}

.menu{
    font-family : 'Courier New', Courier, monospace;
    font-style : bold;
    font-size : x-large;
    background-color: #DAA520;
    text-align: center;
    display : flex;
    justify-content : space-evenly;

    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 3px ridge #000028;
    border-bottom : 3px ridge #000028;

    margin-top:15px;
}

.menu2{
    display : flex;
    justify-content : center;

    border-right : 5px ridge #FF0000;
    border-left : 5px ridge #FF0000;

    border-top : 5px ridge #000028;
    border-bottom : 5px ridge #000028;
}

.item{
    justify-content: center;
    margin-top:100px;
    display : flex;
    justify-content : space-evenly;

    font-family: Calibri;
    text-decoration:underline;
    font-weight: bolder;

    border-right : 5px ridge #FF0000;
    border-left : 5px ridge #FF0000;

    border-top : 5px ridge #000028;
    border-bottom : 5px ridge #000028;    
}

.h1,p,u,b{
    font-family: Berlin Sans FB;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}

a:link{
    color : #000080;
}

a:visited{
    color : #000080;
}