.header{
    display : flex;
    justify-content : center;

    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2,p,u,b{
    font-family: Comic Sans MS;
    justify-content: center;
}

.item{
    border-right : 5px ridge #FF0000;
    border-left : 5px ridge #FF0000;

    border-top : 5px ridge #000028;
    border-bottom : 5px ridge #000028;
}

body{
    background-color : #20B2AA;
}

.menu{
    font-family : 'Courier New', Courier, monospace;
    font-style : bold;
    font-size : x-large;
    background-color: #DAA520;
    text-align: center;
    display : flex;
    justify-content : space-evenly;
    
    border-right : 5px ridge #FF0000;
    border-left : 5px ridge #FF0000;

    border-top : 5px ridge #000028;
    border-bottom : 5px ridge #000028;
}

.menu2{
    display : flex;
    justify-content : center;

    border-right : 5px ridge #FF0000;
    border-left : 5px ridge #FF0000;

    border-top : 5px ridge #000028;
    border-bottom : 5px ridge #000028;
}